.imgclass{
    position: relative;
}
.imgcont{
    position: absolute;
    top: 35%;
    color: white;
    font-weight: bold;
    left: 45%;
}
.img2{
    filter: brightness(20%);
    position: relative;
}
.imgcon2{
    position: absolute;
    top: 200%;
    left: 10%;
    color: white;
}